* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: dotted 1px red; */
}

html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    min-height: 100vh;
    line-height: 1.4;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 60%;
    padding: 2em;
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.content-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.login-section {
    flex: 1;
    max-width: 20em;
}

.info-section {
    flex: 1;
    padding: 1.5em;
}

.login-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 4em 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.login-card h1 {
    margin-bottom: 1em;
    font-size: 1.25rem;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color 0.218s, border-color 0.218s,
        box-shadow 0.218s;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity 0.218s;
    transition: opacity 0.218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #aaa;
    margin: 20px 0;
    margin: 2em 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #aaa;
}

.divider::before {
    margin-right: 0.5em;
}

.divider::after {
    margin-left: 0.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    display: block;
    margin-bottom: 0.5em;
    color: #ffffff;
    font-size: 0.9em;
}

.login-form input,
.login-form button {
    padding: 1em;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}

.login-form input {
    background-color: #333;
    color: white;
}

.login-form button {
    background-color: #ffffff;
    cursor: pointer;
    margin: 0.25em 0;
}

.signup-link {
    margin-top: 2em;
    font-size: 0.9rem;
}

.signup-link a {
    color: #4285f4;
    text-decoration: none; 
}


.signup-link a:hover,
.signup-link a:focus {
    text-decoration: underline; 
    color: #a0c4ff; 
}


.info-section {
    display: flex;
    flex-direction: column;
    align-self: end;
    text-align: left;
    margin: 0 0 0 2em;
}

.info-text h2,
.info-text p {
    margin: 0 0 10px;
    color: #bbb;
}

.info-text h2 {
    font-size: 1.35rem;
}

.info-text p {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    body {
        height: 100vh;
        width: 100vw;
        align-items: flex-start;
    }

    .content-wrapper {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .login-section {
        max-width: none;
        flex: none;
        width: 100%; 
    }

    .login-card {
        width: 100%;
    }

    .info-section {
        text-align: center;
        margin: 0;
    }
}
